.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 10px;

    .counter {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 4px 6px 10px #828282;
        padding-bottom: 60px;
        position: relative;
        width: 480px;
        height: 600px;
        border-radius: 60px;
        background: linear-gradient(219.63deg, #282933 0%, #474850 100%);

        &__title {
            display: block;
            margin-top: 60px;
            font-weight: 500;
            font-size: 32px;
            line-height: 32px;
            text-align: center;
            color: #FFFFFF;
        }

        &__number-container {
            z-index: 1;
            padding: 10px;
            display: flex;
            margin: 0 auto;
            margin-top: 45px;
            min-width: 240px;
            width: max-content;
            min-height: 240px;
            background: #4CA3BC;
            border-radius: 50%;
            box-shadow: -5px -5px 5px #474850,
            5px 10px 10px 2px #2C2D36,
            inset 5px 10px 10px #6FD3F0,
            inset -5px -10px 10px #31788C;
        }

        &__number {
            display: block;
            margin: auto;
            font-weight: 500;
            font-size: 96px;
            line-height: 0px;
            text-align: center;
            color: #FFFFFF;
        }
        .btn-container {
            display: flex;
            justify-content: space-evenly;
            margin-top: 45px;
        }
        &__btn {
            display: block;
            width: 110px;
            height: 110px;
            text-transform: uppercase;

            font-style: normal;
            line-height: 0px;
            font-weight: 700;
            font-size: 48px;
            text-align: center;
            color: #FFFFFF;
            border: none;
            border-radius: 50%;
            transition: 0.3s all;
            background-color: #E88406;
                &:hover {
                    filter: drop-shadow(0px 0px 2px #E88406);
                    background-color: #A46619;
                }

                &:active {
                    box-shadow: inset 0px 0px 15px #221504;
                    background-color: white;
                    color: #221504;
                    filter: none;
                }

            &_clear,
            &_save {
                font-size: 20px;
                width: 90px;
                height: 90px;
            }

        }
    }

}